html {
	box-sizing: border-box;
}
*,*:after,*:before{
	box-sizing: inherit;
}

body,ul{
	margin:0;
	padding: 0;
}

header{
	display: flex;
	justify-content: center;
}

nav{
	width: 80%;
	font-family: "Roboto",sans-serif;
}

header nav, header nav div, header nav div ul{
	display: flex;
}
header nav li{
	list-style: none;
}

header nav {
	justify-content: space-between;
}

.box-content{
	width: 50%;
}

.box-content .box-ul{
	width: 80%;
} 

.box-ul{
	justify-content: center;
}

div.box-image{
	width: 20%;
	padding:1rem 0rem;
}

.box-image img{
	width: 100%;
	object-fit: contain;
}

nav li a,.box-buttons li a{
	text-decoration: none;
	color:#575757;
	padding: 1rem;
}
nav ul{
	display: flex;
	align-items: center;
}
.box-content li a:hover{
    color: #1f1f1f;
    background-color: #fafafa;
    border-bottom: 2px solid #e44232;
}